---
title: fnordig.de
layout: default.liquid
data:
  route: blog
---
{%- assign idx = 0 -%}
{%- for post in collections.posts.pages -%}
{%- if idx < 5 -%}
<article class="blog-list">
  <h1><a href="{{ post.permalink }}">{{ post.title }}</a></h1>
  <div class="metadata">
  {% assign reading_wpm = 200 %}
  {% assign word_count = post.content | split: " " | size %}
  {% assign reading_time = word_count | divided_by: 200 %}
  {% if reading_time < 1%}
    {% assign reading_time = 1 %}
  {% endif %}
  {% assign phrase = " minute read" | prepend: reading_time %}
  <time pubdate="pubdate">{{ post.published_date | date: "%b %d, %Y" }} · {{ phrase }}</time>

  {% if post.data and post.tags -%}
  {%- for tag in post.tags %}
  · <a href="/tagged/{{ tag }}.html">{{ tag }}</a>
  {%- endfor %}
  {%- endif -%}
  </div>
  <p>{{ post.excerpt }}</p>
</article>

<hr>
{%- endif -%}
{% assign idx = idx | plus: 1 %}
{%- endfor -%}

<p>
Looking for more posts? Check out <a href="/posts/">all posts</a>!
</p>
