---
permalink: /tagged/rust.xml
---

<rss version="2.0">
  <channel>
    <title>fnordig - posts tagged with 'rust'</title>
    <link>https://fnordig.de</link>
    <description>fnordig - post tagged with 'rust'</description>
    {% for post in collections.posts.pages %}
    {%- if post.data.tags and post.data.tags contains "rust" -%}
    <item>
      <title>{{ post.title | escape }}</title>
      <link>https://fnordig.de/{{ post.permalink }}</link>
      <description>{{ post.content | escape }}</description>
      <guid>https://fnordig.de/{{ post.permalink }}</guid>
      <pubDate>{{ post.published_date | date: "%a, %d %b %Y %H:%M:%S %z" }}</pubDate>
    </item>
    {% endif -%}
    {% endfor %}
  </channel>
</rss>
